html {
	height: 100%;
}

body {
	font-family: 'ABeeZee';
	font-size: 4vw;
	margin: 0px;
	min-height: 100%;
	background-image: url("images/flower.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}

#main {
	flex: 1;
}

.basic-text {
	margin: 10px;
	flex: 1;
	text-align: center;
}

.top {
	flex: 1;
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#mainGrid {
	flex: 9;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
	width: 100%;
}

.grid .navItem {
    flex: 1 0 50%;
    text-align: center;
}

.navItem {
	justify-content: center;
	align-items: center;
	background-color: black;
	opacity: 0.0;
	border-radius: 10px;
	-webkit-transition: opacity .5s ease-in;
	-moz-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;  
}

.navItem:hover {
	opacity: 0.7;
	cursor: pointer;
	-webkit-transition: opacity .5s ease-in;
	-moz-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}

.fa {
	margin: auto;
	position: relative;
	top: calc(50% - 18px);
}

@media screen and (width: 500px) {
    .grid {
    	margin-left: -10px;
  		margin-top: -10px;
    }

    .navItem {
		opacity: 0.7;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}

    .grid .navItem {
	    flex: 1 0 calc(50% - 10px);
	    margin-left: 10px;
  		margin-top: 10px;
	}

	.navItem:hover {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}

	.fa {
		top: calc(50% - 6px);
	}
}